html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "username") username:
            input(name = "username" )
         br
         div
            label(for = "password") password:
            input(name = "password" )
         br
         button(type = "submit") Send my greetings