doctype html
html
   head
      title Hello Pug
   body
    include ./header.pug
    p.greetings#people Hello World!
    img(src = "/download.jpeg", alt = "Testing Image")
    p=name
    p=url
    p=message
    include ./footer.pug
    if message=="Logged in"
      div
         a(href="/logout") Logout
    else
      div
         a(href="/login") login
      div
         a(href="/register") register